 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Team Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/WebAppsNoAuth.styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.css" />
</head>
<body>
    @{
        if (ViewData["Authenticated"] != null)
        {

            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3" style="opacity:1">
                    <div class="container-fluid">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:maroon">Execusync</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Holidays" style="color:maroon">Holidays</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Meetings" style="color:maroon">Meetings</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Calendar" style="color:maroon">Calendar</a>
                                </li>
                                @*<li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="MyProjects" style="color:maroon">My Projects</a>
                                    </li>*@
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="PMTasks" style="color:maroon">PM Tasks</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="MyTasks" style="color:maroon">Tasks</a>
                                </li>
                                @*<li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ResetPassword" style="color:maroon">Reset Password</a>
                                    </li>*@
                                @{
                                    if (ViewData["Admin"] != null && ViewData["Admin"].ToString() == "True")
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="UpdateLocation" style="color:maroon">Locations</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="UpdateUser" style="color:maroon">Users</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="UpdateTeam" style="color:maroon">Teams</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="UpdateEntitlements" style="color:maroon">Entitlements</a>
                                        </li>
                                    }
                                }
                                @{
                                    if (ViewData["Manager"] != null && ViewData["Manager"].ToString() == "True")
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Manager" asp-action="ApproveRequest" style="color:maroon">Requests</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Manager" asp-action="Projects" style="color:maroon">Projects</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="" asp-controller="Manager" asp-action="EmployeeAnalytics" style="color:maroon">Employee Analytics</a>
                                        </li>
                                    }
                                }
                            </ul>
                            <ul class="nav navbar navbar-right">
                                <li>
                                    <button style="border:none; background-color:maroon; color:white" data-toggle="modal" data-target="#layoutModal">@ViewData["Username"]</button>
                                </li>
                                <li>
                                    <div class="avatar">
                                        <div class="user-icon font18" style="opacity:1" data-toggle="modal" data-target="#layoutModal" onclick="openProfile()">
                                            <span class="amber" id="statusColour"></span>
                                        </div>

                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogOut">
                                        <i class="fa fa-sign-out" style="font-size:30px; color:maroon"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <body>

                <div id="userStatus" class="sidepanel">
                </div>
                <button class="openbtn" onclick="openSideBar()" style="color:maroon; font-size:35px;">☰</button>
            </body>
            <div class="modal fade" id="layoutModal" tabindex="-1" role="dialog" aria-labelledby="layoutModalLabel" aria-hidden="true" style="display:none">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close appCloseButton" data-dismiss="modal" onclick="closeLayoutModal()">x</button>
                            <h4 class="modal-title appModalFont" id="layoutModalLabel">Edit profile</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="name">Status</label>
                                    @Html.DropDownList("StatusList")
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="location">Location</label>
                                    @Html.DropDownList("UserLocationsList", "---")
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="isWFH">WFH</label>
                                    <input type="checkbox" id="isWFH" />
                                </div>
                                <div class="form-outline mb-4" id="optionalDiv" style="display:block">
                                    <label class="form-label" for="wfhContact">OOO Contact Number</label>
                                    <input type="text" id="wfhContact" class="form-control form-control-lg" />
                                </div>
                                <div class="form-outline mb-4">
                                    <button class="btn btn-primary" style="background-color:white; color:maroon; outline-color: black" onclick="window.open('/Home/ResetPassword');">Click to reset password</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="addLocationButton" style="background-color:maroon" onclick="return setUserStatus()">Update</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close appCloseButton" data-dismiss="modal" onclick="closeUserModal()">x</button>
                            <h4 class="modal-title appModalFont" id="userModalLabel">Status</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-outline mb-4">
                                    <input type="text" id="statusUserName" class="form-control form-control-lg" style="border:2px solid maroon" disabled />
                                </div>
                                <div class="form-outline mb-4">
                                    <label for="statusUserStatus">Status</label>
                                    <input type="text" id="statusUserStatus" class="form-control form-control-lg" disabled />
                                </div>
                                <div class="form-outline mb-4">
                                    <label for="statusUserLocation">Current Location</label>
                                    <input type="text" id="statusUserLocation" class="form-control form-control-lg" disabled />
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="statusUserWFH">WFH</label>
                                    <input type="checkbox" id="statusUserWFH" disabled />
                                </div>
                                <div class="form-outline mb-4" id="optionalDiv2" style="display:block">
                                    <label class="form-label" for="statusUserContact">OOO Contact Number</label>
                                    <input type="text" id="statusUserContact" class="form-control form-control-lg" disabled />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    <div class="container bg-image">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>

    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/i18n/datepicker.en.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.20.0/js/mdb.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/virtual-select-master/dist/virtual-select.min.js"></script>

    @*<script src="~/lib/chartjs/dist/chart.js"></script>*@

    @*<script src="~/lib/chartjs-chart-treemap/dist/chartjs-chart-treemap.js"></script>*@


    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-treemap@2.3.0/dist/chartjs-chart-treemap.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    $(document).ready(function () {

        $("#locationTeams").hide();
        document.getElementById("userStatus").style.width = '0px';
        getUserStatus();
        //to dynamically get the OOO Contact Number field to show 
        document.getElementById("isWFH").onchange = function () {
            if (document.getElementById("isWFH").checked) {
                $("#optionalDiv").show();
            }
            else {
                $("#optionalDiv").hide();
            }
        }
        
    });

    function closeLayoutModal() {
        $("#layoutModal").modal("hide");
    }
    function closeUserModal() {
        $("#userModal").modal("hide");
    }
    function openProfile() {
        $("#layoutModal").modal("show");
        getUserStatus();
    }
    function openSideBar() {
        document.getElementById("userStatus").style.width = "250px";
        getAllUsersStatus();
        document.body.classList.add('sidepanel-open');
    }
    function closeSideBar() {
        document.body.classList.remove('sidepanel-open');
        document.getElementById("userStatus").style.width = "0px";
    }

    function getUserStatus() {
        $.ajax({
            url: "/Home/GetUserStatus",
            type: "GET",
            data: {
                userId: -1
            },
            success: function (result) {
                console.log(result);
                //change profile icon colour according to new status
                if (result.data.statusTypeId == 1) {
                    document.getElementById("statusColour").className = "green";
                }
                if (result.data.statusTypeId == 2) {
                    document.getElementById("statusColour").className = "red";
                }
                if (result.data.statusTypeId == 3) {
                    document.getElementById("statusColour").className = "amber";
                }
                if (result.data.locationId != -1) {
                    document.getElementById("UserLocationsList").value = result.data.locationId;
                }
                document.getElementById("StatusList").value = result.data.statusTypeId;
                $("#wfhContact").val(result.data.wfhContact); 
                if (result.data.wfh) {
                    document.getElementById("isWFH").checked = true;
                }
                else {
                    document.getElementById("isWFH").checked = false;
                }
                if (result.data.wfh) {
                    $("#optionalDiv").show();
                }
                else {
                    $("#optionalDiv").hide();
                }

            },
            error: function (error) {
                alert(error.responseText);
            }
        })
    }

    function validateContact(contact) {
        var regPhone = /^\(?(\d{4})\)?[- ]?(\d{3})[- ]?(\d{4})$/;
        if (!regPhone.test(contact)) {
            $("#wfhContact").css("border-color", "red");
            alert("Please enter the contact number properly.");
            return false;
        }

    }

    function setUserStatus() {
        var statusTypeId = document.getElementById("StatusList").value;
        var locationId = 0;
        //if there are no locations that blelong to the user 
        if (!document.getElementById("UserLocationsList").options.length || !document.getElementById("UserLocationsList").value) {
            locationId = -1;
        }
        else {
            locationId = document.getElementById("UserLocationsList").value;
        }
        var isWFH = document.getElementById("isWFH").checked;
        var wfhContact = "";
        if (isWFH == true) {
            wfhContact = $("#wfhContact").val();
            var valid = validateContact(wfhContact);
            if (valid == false) {
                return false;
            }
        }
        else {
            wfhContact = "-1";
        }
        $.ajax({
            url: "/Home/SetUserStatus",
            type: "POST",
            data: {
                statusTypeId: statusTypeId,
                locationId: locationId,
                isWFH: isWFH,
                wfhContact: wfhContact
            },
            success: function (result) {
                console.log(result);
                //change profile icon colour according to new status
                if (statusTypeId == 1) {
                    document.getElementById("statusColour").className = "green";
                }
                if (statusTypeId == 2) {
                    document.getElementById("statusColour").className = "red";
                }
                if (statusTypeId == 3) {
                    document.getElementById("statusColour").className = "amber";
                }
                //$("#layoutModal").modal("hide"); do we want this?

            },
            error: function (error) {
                alert(error.responseText);
            }
        })
        closeLayoutModal();
    }
    function getAllUsersStatus() {
        $.ajax({
            url: "/Home/GetAllUsersStatus",
            type: "GET",
            success: function (result) {
                console.log(result);
                var html = "<a class='closebtn' href='' onclick='closeSideBar()'>×</a>";
                for (var i = 0; i < result.data.length; i++) {
                    var colour = "";
                 //   html += "<td>" + result.data[i].teamName + "</td>";
                    if (result.data[i].statusTypeId == 1) {
                        circleColour = "green";
                    }
                    else if (result.data[i].statusTypeId == 2) {
                        circleColour = "red";
                    }
                    else if (result.data[i].statusTypeId == 3) {
                        circleColour = "orange";
                    }
                    else {
                        circleColour = "white";
                    }
                    html += "<a href='#' onclick='return getByUserId(" + result.data[i].userId + ")'>" + result.data[i].userName + " <span class='dot' style='background:" + circleColour + "'></span></a>";
                }
                $("#userStatus").html(html);

            },
            error: function (error) {
                alert(error.responseText);
            }
        })
    }

    function hideAllUsersStatus() {
        $("#userStatus").html("");
    }
    function getByUserId(userId) {
        $.ajax({
            url: "/Home/GetUserStatus",
            type: "GET",
            data: {
                userId: userId
            },
            success: function (result) {
                console.log(result);
                var name = result.data.userName;
                var status = "";
                var statusTypeId = result.data.statusTypeId;
                var statusTypeName = result.data.statusTypeName;
                var location = result.data.locationValue;
                var wfh = result.data.wfh;
                var wfhContact = result.data.wfhContact;

                $("#statusUserName").val(name);
                $("#statusUserStatus").val(statusTypeName);
                $("#statusUserLocation").val(location);
                if (wfh) {
                    document.getElementById("statusUserWFH").checked = true;
                }
                else {
                    document.getElementById("statusUserWFH").checked = false;
                }
                if (wfh) {
                    $("#statusUserContact").val(result.data.wfhContact); //check 
                    $("#optionalDiv2").show();
                }
                else {
                    $("#optionalDiv2").hide();
                }
                $("#userModal").modal("show");
            },
            error: function (error) {
                alert(error.responseText);
            }
        })
    }

    function logOut() {
        $.ajax({
            url: "/Home/LogOut",
            type: "POST"
        })
    }
</script>